<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.cloud.module.system.mapper.SystemMenuMapper">
    <select id="getMenuList" resultType="com.st.cloud.module.system.pojo.SystemMenuDO">
        SELECT
            id,
            name,
            permission,
            path,
            parent_id,
            sort,
            icon,
            type,
            status,
            visible,
            create_time,
            create_user,
            update_time,
            update_user
        FROM
            system_menu
    </select>

    <select id="getMenuDetail" resultType="com.st.cloud.module.system.pojo.SystemMenuDO">
        SELECT
            id,
            name,
            permission,
            path,
            parent_id,
            sort,
            icon,
            type,
            status,
            visible,
            create_time,
            create_user,
            update_time,
            update_user
        FROM
            system_menu
        WHERE
            id = #{id}
    </select>

</mapper>